.listestation{
     
    
    .background {
        min-height: 30vh;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../../assets/appSki_top.png');
    } 

    background: #f9f9f9;

    .filtre-btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px 5px;
        font-size: 13px;
        background: #5B86B9;
        position: relative;
        cursor: pointer;
    & :hover{
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
        color: #fff;
        }   
    }

 
      
      .grilleStation h3{
        grid-auto-rows: min(20px);
         padding: 10px 5px ;
      }

      .region-container{
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    
    }
    
    .region-container li{
        margin-left: 5px;
        padding: 5px;
    };

    .departement-container{
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    
    }
    
    .departement-container li{
        margin-left: 5px;
        padding: 5px;
    };

}

  .groupe_Range{
    display: flex;
    flex-flow: row wrap;
  }
    
.grilleStation{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  
    }



